@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --white: #ffffff;
    --purple: #8300AB;
    --green: #8AB63A;
    --grey: #707070;
    --black: #292929;
}
body {
    font-family: 'Jost', sans-serif;
}
.contact-top {
    background-color: var(--green) !important;
}
ul {
    list-style-type: none;
}
a.active,a:hover {
    color: var(--purple) !important;
}
.btn-primary {
    background-color: var(--purple) !important;
    border: none;
}
.btn-primary:hover {
    color: white !important;
}
.btn-primary:hover {
    background-color: var(--green) !important;
    border: none;
}

.bg-black {
    background-color: var(--black) !important;
}

.contact-form {
    margin-top: -100px;
}
.text-primary {
    color: var(--green) !important;
}
.contact-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--green) !important;
}
.hero-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.page-title {
    font-size: 40px !important;
    padding: 0 !important;
    margin: -135px 0;
}
.bg-overlay {
    background-color: rgba(0, 0, 0, .5);
}
.team-member-overlay {
    height: 100%;
    width: 100%;
    display: none !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
}

.team-member-overlay::after,.team-member-overlay::before {
    content: "";
    height: 80%;
    width: 80%;
    position: absolute;
    border: 2px solid var(--white);
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.team-profile {
    height: 100%;
    width: 100%;
}
.team-container:hover .team-member-overlay {
    display: flex !important;
}

.team-members-section {
    background-color: rgba(131, 0, 171, 0.1) !important;
}

.mission-vision-values {
    margin-top: -150px !important;
}

.mission-vision-values > .context {
    z-index: 100;
}
.text-green {
    color: var(--green) !important;
}

.bg-light-green {
    background-color: rgba(138, 182, 58, 0.2) !important;;
}

.mission-vision-values .causes img {
    display: block;
}

.bg-purple {
    background-color: rgba(131, 0, 171, 0.1) !important;
}
ul {
    padding: 0 !important;
    margin: 0 !important;
}
.error {
    color: red !important;
}
.error::before {
    content: '*';
}
.info {
    color: green !important;
}