{% extends 'main.html' %}

{% block content %}

    <div class="donate-section overflow-hidden">
      <div class="row my-5 justify-content-center">
        <div class="row">
          <div class="col-12 col-lg-10 col-xl-10 mx-auto paypal-col">
            <div class="section-title" data-aos="fade-up">
              <h2>BANK TRANSFERS(EFT, RTGS, SWIFT)</h2>
            </div>
            <h3>Centenary Bank</h3>
            <div class="dt-bootstrap table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                <tr>
                  <th scope="col">Account Name</th>
                  <th scope="col">Account Currency</th>
                  <th scope="col">Account Number</th>
                  <th scope="col">Swift Code</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                  <td>Seeds of Leadership Uganda Ltd</td>
                  <td>USD</td>
                  <td>3100067934</td>
                  <td>CERBUGKA</td>
                </tr>
                <tr>
                  <td>Seeds of Leadership Uganda Ltd</td>
                  <td>UGX</td>
                  <td>3100067932</td>
                  <td>CERBUGKA</td>
                </tr>
                </tbody>
              </table>
            </div>
            <h3>Note:</h3>
            <p>As a requirement by the government of Uganda, please give a brief about the sender
              and
              purpose of funds.</p>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}