{% extends 'main.html' %}

{% block content %}

    <div class="volunteer-section overflow-hidden">
        <div class="row justify-content-center my-5">
            <h2 class="text-center text-uppercase fw-bold">Apply To Volunteer</h2>
            <p class="text-center">We a so glad you have decided to work with us in achieving our goals.</p>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="mt-3">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="mb-3">
                                {{ field }}
                            </div>
                            {% endfor %}
                            {% if messages %}
                            <ul class="messages mb-3">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <button type="submit" class="btn btn-lg btn-primary">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}